/*
    style formulier.php
 */
:root {
    --blue: #0085ca;
    --light-blue: #66b6df;
    --red: #ef2b2d;
    --white: #ffffff;
}

/* -- uitleg section -- */
.pagetitle
{
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
#explanation
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}
/* uitleg blok */
#uitleg, #contact
{
    background-color: var(--blue);
    height: auto;
    padding: 5px 10px;
    margin: 0 10px;
}
#uitleg
{
    width: 50%;
    min-width: 600px;
}
#uitleg ol
{
   margin: 10px 0 0 20px;
}
#uitleg ol li
{
   padding-bottom: 5px;
}
/* contact blok */
#contact
{
    width: 25%;
    min-width: 300px;
}
#contact img
{
    width: 18px;
    height: auto;
}
#contact > div
{
    padding: 5px;
    display: flex;
    align-items: center;
}
#contact a
{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
}
#contact a:hover
{
    text-decoration: underline;
}

/* -- studiekeuze test -- */
#studietest
{
    width: 100%;
    margin: 0 auto;
}
#studietest #formContainer
{
    position: relative;
    background-color: var(--blue);
    width: 930px;
    min-height: 480px;
    margin: 50px auto;
    padding: 10px 20px;
}
/* form header */
#formContainer #fheader
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--white);
}

/* form startscherm */
#formStartscreen
{
    position: absolute;
    z-index: 20;
    min-height: 355px;
    width: 900px;
    background-color: var(--blue);
    padding: 5px 0;
}
#formStartscreen h3
{
    margin-bottom: 10px;
}
#formStartscreen #usernameInput
{
    position: relative;
    display: block;
    margin: 40px auto 15px auto;
    width: 215px;
    padding: 5px;
    background-color: transparent;
    border-bottom: 3px solid var(--white);
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
}
#formStartscreen #usernameInput::placeholder
{
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    font-size: 0.8rem;
}
#formStartscreen button
{
    display: block;
    border: none;
    margin: 25px auto;
    padding: 15px 20px;
}

/* form quistions */
#formContainer #fquestions
{
    position: relative;
    left: 0;
    min-height: 240px;
    width: 100%;
    overflow: hidden;
}
#formContainer #fquestions > #studietestForm
{
    display: flex;
    position: relative;
    left: 0;
    transition: left 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
#formContainer .question
{
    position: relative;
    min-width: 100%;
    height: auto;
    min-height: 240px;
}
.question h3
{
    margin: 5px 0 15px 0;
}
.question > div
{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 5px;
}
.question .answers input
{
    height: 20px;
    width: 20px;
    margin: 5px 0 20px 0;
    cursor: pointer;
}
.question .answers label
{
    position: relative;
    top: -3px;
    padding: 5px 0 5px 5px;
    margin: 5px 0 20px 0;
    cursor: pointer;
    font-size: clamp(0.8rem, 0.5em + 1.5vw, 1.1rem);
}
.question .image img
{
    width: auto;
    max-width: 350px;
    height: auto;
    max-height: 230px;
}
.question .noImage
{
    display: none;
}
.question figcaption
{
    font-size: 0.8rem;
}
#endScreen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
#endScreen > .btn
{
    display: block;
    border: none;
    margin: 25px auto;
    padding: 13px 30px;
}

/* form buttons */
#formContainer #fbuttons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    opacity: 0;
    pointer-events: none;
}
#fbuttons #prevBtn
{
    border: 2px solid transparent;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: none;
    transition: 150ms linear;
}
#fbuttons #prevBtn:hover,
#fbuttons #prevBtn:focus
{
    border: 2px solid #000;
}
#fbuttons #prevBtn img
{
    width: 30px;
    height: auto;
    padding: 1px;
    pointer-events: none;
}
#fbuttons #nextBtn
{
    border: 2px solid var(--red);
    width: 165px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: none;
    transition: background-color 150ms linear;
    background-color: transparent;
    font-size: 1em;
}
#fbuttons #nextBtn:hover
{
    background-color: var(--red);
}
#fbuttons #nextBtn:focus
{
    border: 3px solid var(--red);
}
#fbuttons #nextBtn img
{
    width: 30px;
    height: auto;
    pointer-events: none;
    transform: none;
    transition: transform 0.3s linear;
}
#fbuttons #nextBtn:hover img
{
    animation: animArrow 1s linear forwards infinite;
}
@keyframes animArrow
{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(10px);
    }
    100%{
        transform: translate(0);
    }
}

/* form footer */
#formContainer #ffooter
{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--white);
}
#formContainer #ffooter a
{
    font-size: 0.8em;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
#formContainer #ffooter a:hover
{
    text-decoration: underline;
}

/* -- responsive on mobile -- */
@media screen and (max-width: 960px)
{
    #uitleg
    {
        width: 50%;
        min-width: 515px;
    }
    #contact
    {
        width: 15%;
        min-width: 225px;
    }
}
@media screen and (max-width: 800px)
{
    #explanation
    {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #uitleg
    {
        width: 90%;
        min-width: auto;
        margin-bottom: 5px;
    }
    #contact
    {
        width: 90%;
        min-width: auto;
    }
}
@media screen and (max-width: 400px)
{
    #uitleg
    {
        width: 95%;
    }
    #contact
    {
        width: 95%;
    }
}








