/*
    style formulier.php
 */
:root {
    --blue: #0085ca;
    --light-blue: #66b6df;
    --red: #ef2b2d;
    --white: #ffffff;
}

/* -- uitleg section -- */
.pagetitle
{
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
#explanation
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}
/* uitleg blok */
#uitleg, #contact
{
    background-color: var(--blue);
    height: auto;
    padding: 5px 10px;
    margin: 0 10px;
}
#uitleg
{
    width: 50%;
    min-width: 600px;
}
#uitleg ol
{
   margin: 10px 0 0 20px;
}
#uitleg ol li
{
   padding-bottom: 5px;
}
/* contact blok */
#contact
{
    width: 25%;
    min-width: 300px;
}
#contact img
{
    width: 18px;
    height: auto;
}
#contact > div
{
    padding: 5px;
    display: flex;
    align-items: center;
}
#contact a
{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
}
#contact a:hover
{
    text-decoration: underline;
}

/* -- studiekeuze test -- */
#studietest
{
    width: 100%;
    margin: 0 auto;
}
#studietest #formContainer
{
    position: relative;
    background-color: var(--blue);
    width: 930px;
    min-height: 500px;
    margin: 50px auto;
    padding: 10px 20px;
}
/* form header */
#formContainer #fheader
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--white);
}

/* form buttons */
#formContainer #fbuttons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
#fbuttons #prevBtn
{
    border: 2px solid transparent;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: none;
    transition: 150ms linear;
}
#fbuttons #prevBtn:hover,
#fbuttons #prevBtn:focus
{
    border: 2px solid #000;
}
#fbuttons #prevBtn img
{
    width: 30px;
    height: auto;
    pointer-events: none;
}
#fbuttons #nextBtn
{
    border: 2px solid var(--red);
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: none;
    transition: 150ms linear;
    background-color: transparent;
}
#fbuttons #nextBtn:hover,
#fbuttons #nextBtn:focus
{
    background-color: var(--red);
}
#fbuttons #nextBtn img
{
    width: 30px;
    height: auto;
    pointer-events: none;
}

/* form footer */
#formContainer #ffooter
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--white);
}
#formContainer #ffooter a
{
    font-size: 0.8em;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
#formContainer #ffooter a:hover
{
    text-decoration: underline;
}




/* -- responsive on mobile -- */
@media screen and (max-width: 960px)
{
    #uitleg
    {
        width: 50%;
        min-width: 515px;
    }
    #contact
    {
        width: 15%;
        min-width: 225px;
    }
}
@media screen and (max-width: 800px)
{
    #explanation
    {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #uitleg
    {
        width: 90%;
        min-width: auto;
        margin-bottom: 5px;
    }
    #contact
    {
        width: 90%;
        min-width: auto;
    }
}
@media screen and (max-width: 400px)
{
    #uitleg
    {
        width: 95%;
    }
    #contact
    {
        width: 95%;
    }
}








