:root {
    --blue: #0085ca;
    --light-blue: #66b6df;
    --red: #ef2b2d;
    --white: #ffffff;
}

.information--section {
    display: grid;
    padding-top: 5em;
    grid-gap: 1em;
    grid-template-columns: minmax(400px, 3fr) minmax(200px, 2fr);
}

.information--section div div {
    background-color: var(--blue);
    padding: 1em;
    margin-bottom: 2em;
}
